# Tapes development
/.tapes/

/.direnv/
/build/
/tmp/
/tapes
/config.toml
/credentials.toml
/tapes.db
/tapes.db~
/tapes.demo.sqlite
.DS_Store

# JetBrains IDEs
.idea/

# HumanLayer
.humanlayer/

# Claude Code
.claude/
